* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

.container {
  width: 80%;
  margin: auto;
}

.float-left {
  float: left;
}

.clearfix::after {
  display: table;
  clear: both;
  content: "";
}

/* header */
header {
  background-color: #001a4f;
}

/* header-top */
.header-top {
  line-height: 80px;
}

.header-top li {
  display: inline-block;
}

.header-logo {
  width: 15%;
}
