* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

ul {
  list-style: none;
}

.container {
  width: 80%;
  margin: auto;
}

.float-left {
  float: left;
}

.clearfix::after {
  display: table;
  clear: both;
  content: "";
}

.fixed {
  position: fixed;
  bottom: 2px;
  right: 13%;
}

/* button */
.btn {
  padding: 5px 10px;
  text-transform: uppercase;
  text-decoration: none;
  border: 1px solid white;
  border-radius: 3px;
  color: white;
}

.btn:hover {
  text-decoration: none
}

.btn-green {
  background-color: #4caf50;
  border: none;
}

.btn-large {
  padding: 20px;
}

/* header */
header {
  background-color: #001a4f;
  background-image: url("../img/background-header.png");
  background-size: 50%;
  background-position: 105% 110%;
  background-repeat: no-repeat;
  color: white;
}

header a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 15px;
}

header a:hover {
  text-decoration: underline;
}

/* header-top */
.header-top {
  height: 80px;
  position: relative;
  line-height: 80px;
}

.header-top li {
  padding: 0 10px;
  display: inline-block;
}

.header-logo {
  width: 15%;
  padding-top: 10px;
}

.header-login {
  position: absolute;
  right: 0px;
}

/* jumbotron */
.jumbotron {
  height: 470px;
  position: relative;
}

.jumbotron div{
  width: 50%;
  position: absolute;
  top: 45%;
  transform: translateY(-50%);
}

.jumbotron h1 {
  font-size: 50px;
  margin-bottom: 45px;
}

/* main */
main {
  background-color: lightgrey;
}

main hr {
  color: lightgrey;
}

/* first-section */
.first-section {
  text-align: center;
}

.first-section h2 {
  margin-bottom: 10px;
  padding-top: 25px;
  color: black;
}

.first-section p {
  padding-bottom: 25px;
  color: grey;
}

/* second-section */
.second-section {
  text-align: center;
  background-color: white;
}

.second-section .box {
  width: calc(100% / 3);
  margin: 40px 0;
  padding: 0 30px;
  color: grey;
}

.second-section .box img {
  height: 120px;
}

.second-section .box h3 {
  color: #4caf50;
}

.second-section .box hr {
  width: 20%;
  margin: 20px auto;
}

/* third-section */
.third-section {
  background-color: white;
}

.third-section .box {
  width: calc(100% / 2);
  margin: 40px 0;
  padding: 0 85px;
}

.third-section .box h2 {
  line-height: 55px;
  font-size: 40px;
}

.third-section p {
  margin: 20px 0;
}

/* fourth-section */
.fourth-section .container {
  position: relative;
  height: 200px;
  line-height: 200px;
}

.left-fsection {
  position:absolute;
  left: 0;
  font-size: 22px;
}

.right-fsection {
  position:absolute;
  right: 0;
  color: grey;
}

.right-fsection select {
  margin: 0 15px;
  background: transparent;
  -webkit-appearance: none;
  border: none;
  color: grey;
  text-decoration: underline;
  font-size: 18px;
}
