* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  color: white;
  text-decoration: none;
}

.container {
  width: 80%;
  margin: auto;
}

.float-left {
  float: left;
}

.clearfix::after {
  display: table;
  clear: both;
  content: "";
}

/* header */
header {
  background-color: #001a4f;
  background-image: url("../img/background-header.png");
  background-size: 50%;
  background-position: 105% 110%;
  background-repeat: no-repeat;
}

/* header-top */
.header-top {
  height: 80px;
  position: relative;
  line-height: 80px;
}

.header-top li {
  padding: 0 10px;
  display: inline-block;
}

.header-logo {
  width: 15%;
  padding-top: 10px;
}

.header-login {
  position: absolute;
  right: 0px;
}

/* jumbotron */
.jumbotron {
  height: 470px;

}
